[general]
# bot_id
#  e.g., @souyakuchan
# bot_id = @souyakuchan
bot_id = ''

# OPSIN jar
#  e.g., java/opsin.jar
opsin = 'java/opsin.jar'
viewer_url = ''

# hashtag
# hashtag = #souyakuchan_magic
hashtag = ''

[filter]
query = ''  # twitter search query (comma sep)
follow = ''  # user id to follow timeline (comma sep)
hashtags = 'iupac,smiles,pdb'  # fire with these hashtags (comma sep)

[tokens]
# Twitter apps API tokens and consumer key
consumer_key = ''
consumer_secret = ''
oauth_token = ''
oauth_token_secret = ''
