[general]
;bot_id
; e.g., @souyakuchan
bot_id = 

;iupac_prefix
;  e.g., iupac
iupac_prefix = iupac

;smiles_prefix
;  e.g., smiles
smiles_prefix = smiles

;OPSIN jar
; e.g., java/opsin.jar
opsin = java/opsin.jar

;hashtag
; e.g., #souyakuchan_magic
hashtag = 

[tokens]
;Twitter apps API tokens and consumer key
CONSUMER_KEY = 
CONSUMER_SECRET = 
ACCESS_TOKEN = 
ACCESS_TOKEN_SECRET = 
