[general]
;bot_id
; e.g., @souyakuchan
bot_id = 

;iupac_prefix
;  e.g., %(bot_id)s iupac:
iupac_prefix = %(bot_id)s iupac

;smiles_prefix
;  e.g., %(bot_id)s smiles:
smiles_prefix = %(bot_id)s smiles

;OPSIN jar
; e.g., java/opsin.jar
opsin = java/opsin.jar

;hashtag
; e.g., #souyakuchan_magic
hashtag = 

[tokens]
;Twitter apps API tokens and consumer key
CONSUMER_KEY = 
CONSUMER_SECRET = 
ACCESS_TOKEN = 
ACCESS_TOKEN_SECRET = 
